ul {
    list-style-type: none;
    padding: 0;
}
#container-score li {
    display: inline;
    padding: 5%;
}
.container {
    padding: 5%;
    background-color: black;
    color: white;
    width: 630px;
    height: 200px;
    opacity: 90%;
    vertical-align: middle;
    
    border-color: white;
    border-width: 3px;
    border-style: solid;
}
#container-score {
    padding: 5%;
    background-color: black;
    color: white;
    width: 630px;
    opacity: 90%;
    

    border-color: white;
    border-width: 3px;
    border-style: solid;
}
body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Fira Code', monospace;
}
@media screen and (max-width:768px) {
    .container {
        width: 100%;
    }
    #container-questions {
        width: 100%;
    }
    #container-score {
        width: 100%;
    }
    #container-highscore {
        width: 100%;
    }
    #container-timesup {
        width: 100%;
    }
    #container-over {
        width: 100%;
    }
}
@media screen and (max-width:375px) {
    .container {
        width: 100%;
    }
    #container-questions {
        width: 100%;
    }
    #container-score {
        width: 100%;
    }
    #container-highscore {
        width: 100%;
    }
    #container-over {
        width: 100%;
    }
}
