ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline;
    padding: 7%;
}
.container {
    background-color: black;
    color: white;
    width: 630px;
    height: 200px;
    opacity: 90%;
    vertical-align: middle;
    display: table-cell;
    
    border-color: white;
    border-width: 3px;
    border-style: solid;
}
#container-score {
    background-color: black;
    color: white;
    opacity: 90%;
    margin: 0 auto;
    width: 630px;

    border-color: white;
    border-width: 3px;
    border-style: solid;
}
#container-highscore {
    background-color: black;
    color: white;
    opacity: 90%;
    margin: 0 auto;
    width: 630px;
    height: 330px;

    border-color: white;
    border-width: 3px;
    border-style: solid;
}
body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}